html {
  font-family: "Open Sans", sans-serif;
}

form {
  background-color: #fff;
}

h1 {
  border-bottom: 1px solid #000;
}

fieldset {
  padding: 0;
  border-width: 1px 0 0;
}

input,
select,
textarea {
  border: 2px solid #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .name,
  .email {
    padding-right: 1rem;
  }

}
